.chartjs-render-monitor{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-right: 40px;
    background-color: #e4ddd2 !important;

}
h1 {

    margin: 20px !important;
  }