<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar color="primary">
            <span>Bienvenid@ a tu Cuenta</span>
            <!--Titulo de la Cuenta-->
        <span class="spacer"></span>
            <button mat-icon-button
            (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar> 
            <!--Simbolo del Menu-->

        <mat-nav-list>
            <a routerLink="./barra"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>add_business</mat-icon>
                <span>Planes Contratados</span>
            </a>
            <a routerLink="./dona"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>trending_up</mat-icon>
                <span>Evolución</span>
            </a>
            <a routerLink="./dona-http"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>backpack</mat-icon>
                <span>Plan Concreto</span>
            </a>
            <a routerLink="./servicios"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>miscellaneous_services</mat-icon>
                <span>Servicios</span>
            </a>
            <a routerLink="./equipo"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>supervised_user_circle</mat-icon>
                <span>Equipo</span>
            </a>
            <a routerLink="./contacto"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>email</mat-icon>
                <span>Contact@</span>
            </a>

        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button
        (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <span class="spacer"></span>

        <span>{{ auth.usuario }}</span>
        <!--Y metemos aqui lo definido en home component linea 19-->
        <button mat-button (click)="login()">
            Logout
        </button>
    </mat-toolbar>  
    
    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>


