h2 {
    margin-left: 3rem !important;
}
form{
    margin-left: 3rem !important;
}
input{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.ngcontent-eqk-c310{
    margin-top: 10rem;
}
textarea{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
button:hover{
   
    font: white;
}
 .float-end{
    margin-left:14rem !important;
    margin-top: 0rem;
}

.col{
    
    margin-left: 3rem !important;
}
.text-danger {
    margin-left: 1rem !important;
}
.ngcontent-kep-c311{
    margin-top: 10rem;
}
.ngcontent-gtx-c311{
    margin-top: 30rem !important;
}
.ngcontent-jgm-c311{
    margin-top: 30rem !important;
}
.ng-star-inserted{
    margin-left: 0.5rem !important;
}
button{
    margin-left: 1rem !important;
    color:#d9a036
}
.mb-3 {
    margin-top: 1rem;
}