
<hr>
<router-outlet></router-outlet><br>


  <!-- <div class="col-md-3 col-sm-9">
   <app-menu></app-menu>
  </div> -->
  
  <mat-sidenav-container fullscreen>
     
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar color="primary">
            <span>Bienvenid@ a tu Cuenta</span>
            
        <span class="spacer"></span>
            <button mat-icon-button
            (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar> 

        <mat-nav-list>
            
            <a routerLink="./universoweb"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>home</mat-icon>
                <span>Home</span>
            </a>
            <a routerLink="./barras"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>timeline</mat-icon>
                <span>Evolución Planes</span>
            </a>
            <a routerLink="./dona"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>grading</mat-icon>
                <span>Planificación Proyecto</span>
            </a>
            <a routerLink="./dona-http"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>rocket_launch</mat-icon>
                <span>Plan Individual</span>
            </a>
          
            <a routerLink="./contacto"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>support_agent</mat-icon>
                <span>Contacto</span>
            </a>

        </mat-nav-list>

    </mat-sidenav> 
    
    <mat-toolbar>
        <button mat-icon-button
        (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <span class="spacer"></span>

    </mat-toolbar>  
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    
</mat-sidenav-container> 
