
<hr>
<!--<router-outlet></router-outlet>
Todas las rutas hijas, quiero que aparezcan aqui, en la madre que es Home. Este es
el segundo router-outler, recordemos que el principal lo tenemos en el html de app-->

<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar color="primary">
            <span>Menú</span>
            
        <span class="spacer"></span>
            <button mat-icon-button
            (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar> 

        <mat-nav-list>
            <a routerLink="./home"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>home</mat-icon>
                <span>Home</span>
            </a>
            <a routerLink="./buscar"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>search</mat-icon>
                <span>Buscar</span>
            </a>
            <a routerLink="./planes"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>backpack</mat-icon>
                <span>Planes</span>
            </a>
            <a routerLink="./servicios"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>miscellaneous_services</mat-icon>
                <span>Servicios</span>
            </a>
            <a routerLink="./equipo"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>supervised_user_circle</mat-icon>
                <span>Equipo</span>
            </a>
            <a routerLink="./contacto"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>email</mat-icon>
                <span>Contacto</span>
            </a>

        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button
        (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <span class="spacer"></span>

        <span>{{ auth.uid }}</span>
        <!--Y metemos aqui lo definido en home component linea 19-->
        <button mat-button (click)="login()">
            Logout
        </button>
    </mat-toolbar>  
    
    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>